{% extends 'base2.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1> LICENSED APPLICATION END USER LICENSE AGREEMENT</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          This Standard End User License Agreement ("Agreement") governs your use of the applications ("Apps") made available by
          Edufox Nigeria Ltd. Please read this Agreement carefully before using the Apps. By using the Apps, you agree to be bound
          by the terms and conditions of this Agreement.
        </p>
        <p>
          <b>License Grant:</b>
          Edufox Nigeria Ltd grants you a nontransferable license to use the Apps on any compatible device that you
          own or control, and as permitted by the Usage Rules. The terms of this Agreement apply to all content, materials, or
          services accessible from or purchased within the Apps, including any upgrades provided by Edufox Nigeria Ltd that
          replace or supplement the original Apps.
        </p>


        <p>
          <b>Prohibited Actions:</b>
          You may not distribute or make the Apps available over a network where it could be used by multiple devices
          simultaneously. You may not transfer, redistribute, or sublicense the Apps. If you sell your device to a third party,
          you must remove the Apps from the device before doing so. You may not copy, reverse-engineer, disassemble, attempt to
          derive the source code of, modify, or create derivative works of the Apps, updates, or any part thereof, except as and
          only to the extent permitted by applicable law or licensing terms governing use of any open-sourced components included
          with the Apps.
        </p>

        <p>
          <b>Consent to Use of Data:</b>
          You agree that Edufox Nigeria Ltd may collect and use technical data and related information about your device, system,
          and application software, and peripherals that is gathered periodically to facilitate the provision of software updates,
          product support, and other services related to the Apps. Edufox Nigeria Ltd may use this information in a form that does
          not personally identify you to improve its products or provide services or technologies to you.
        </p>

        <p>
          <b>Termination:</b>
          This Agreement is effective until terminated by you or Edufox Nigeria Ltd. Your rights under this Agreement will
          automatically terminate if you fail to comply with any of its terms.
        </p>
        <p>
          <b>External Services:</b>
          The Apps may enable access to third-party services and websites ("External Services"). You agree to use the External
          Services at your sole risk. Edufox Nigeria Ltd is not responsible for examining or evaluating the content or accuracy of
          any third-party External Services and shall not be liable for any such third-party External Services. Data displayed by
          any App or External Service, including financial, medical, and location information, is for general informational
          purposes only and is not guaranteed by Edufox Nigeria Ltd or its agents. You will not use the External Services in any
          manner that is inconsistent with the terms of this Agreement or that infringes the intellectual property rights of
          Edufox Nigeria Ltd or any third party.
        </p>
        <p>
            <b>No Warranty:</b>
            YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE APPS IS AT YOUR SOLE RISK. THE APPS AND ANY SERVICES PROVIDED ARE
            PROVIDED "AS IS" AND “AS AVAILABLE,” WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND. EDUFOX NIGERIA LTD HEREBY
            DISCLAIMS ALL WARRANTIES AND CONDITIONS, EITHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING BUT NOT LIMITED TO IMPLIED
            WARRANTIES OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, QUIET ENJOYMENT, AND
            NONINFRINGEMENT OF THIRD-PARTY RIGHTS. EDUFOX NIGERIA LTD SHALL NOT BE LIABLE FOR ANY INCIDENTAL, SPECIAL, INDIRECT, OR
            CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE APPS, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF
            LIABILITY AND EVEN IF EDUFOX NIGERIA LTD HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. EDUFOX NIGERIA LTD'S TOTAL
            LIABILITY TO YOU FOR ALL DAMAGES SHALL NOT EXCEED THE AMOUNT OF FIFTY DOLLARS ($50.00).
        </p>
        <p>
          <b>Governing Law:</b>
          This Agreement shall be governed by the laws of Nigeria, excluding its conflicts of law provisions. Any dispute arising
          from this Agreement shall be subject to the exclusive jurisdiction of the courts in Nigeria.
          
          By using the Apps, you acknowledge that you have read and understood this Agreement and agree to be bound by its terms.
          If you do not agree with any part of this Agreement, do not use the Apps.
        </p>
        
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <!-- <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Mario and Adrian"
          /> -->
          <figcaption class="figure-caption">
            <!-- Edufox. -->
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
