{% extends 'base2.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Privacy Policy</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          We at Edufox take user privacy very seriously, and we want to be transparent about how we handle sensitive user and device data. 
          This privacy policy applies to our store listing and outlines the ways we collect, use, store, and 
          share user data..
        </p>
        <p>
          <b>Data Collection:</b>
          We collect personal information like names, email addresses, and phone numbers, as well as data 
          collected from devices like location, IP address, and cookies. This data is
          used to improve our app's functionality, personalize user experiences, and communicate with users 
          about their account and the app.
        </p>

        <p>
          <b>Data Usage:</b>
          We use the data we collect to provide our users with the best possible experience. 
          This may include customizing our app to suit user preferences, communicating with users 
          about their account or the app, or improving the functionality of the app based on usage patterns. 
        </p>

        <p>
          <b>Data Storage and Protection:</b>
          We take the security and privacy of our users' data very seriously. All data we collect is stored 
          securely, and we use encryption to protect against unauthorized access or disclosure.
        </p>

        <p>
          <b>Third-Party Data Sharing:</b>
          We may share user data with third-party services to facilitate certain app features, 
          such as messaging services like Twilio or email services like SendGrid. When we share 
          data with third-party services, we do so only to the extent necessary to provide the services, 
          and we ensure that the third-party service provider maintains the same level of privacy and security 
          as we do.
        </p>

        <p>
          Contact Information:
          If you have any questions or concerns about your privacy or data usage in our app, 
          please contact us at support@edufoxng.com.
        </p>
        <p>
          Changes to this Privacy Policy:
          We may update this privacy policy from time to time to reflect changes to our data practices. 
          If we make any significant changes, we will notify users through the app or by email.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <!-- <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Mario and Adrian"
          /> -->
          <figcaption class="figure-caption">
            Edufox.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
